html{

  margin: 0;
  padding: 0;
  font-family: sans-serif;

}



body{

  margin: 0;
  margin-top: 0;
  background-color: rgba(246, 187, 84, 0.667);

}


.div_h1{

  background-color: #fff;

  margin: 0;
  height: 20vh;
  box-sizing: border-box;
  padding-top: 15px;
  margin-bottom: 40px;
  box-shadow: 0 0 30px #333;

}
h1{

  margin: 0;
  text-align: center;
  font-family: sans-serif;
  color: #333;
  font-size: 80px;


}

.form_1{

  background-color: white;
  margin: auto;
  margin-top: 10vh;
  width: 30vw;
  border-radius: 15px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 20px #333;
}


.input_1{

  margin: 15px 23% 10px 23%;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #333;
  margin-bottom: 30px;
  width: 15vw;

}

.button-default{

  margin: 20px 23% 10px 23%;
  background-color: #eee;
  border-radius: 5px;
  width: 15vw;
  font-size: 1em;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 0 5px #222;
  padding: 5px;
}

.error{


  text-align: center;
  font-family: sans-serif;
  background-color: #f55;
  font-size: 25px;
  box-shadow: 0 0 20px #f55;
  margin-top: 40px;

}

a{

  text-decoration: none;
  color: #333;
}


input:hover{


  background-color: #eee;
  box-shadow: 0 2px 10px#333;

}


button:hover{

  background-color: #fff;
}


.imagen{

  width: 60%;
  height: 60%;
  margin-left: 20%;
  background-size: contain;

}

.logout{

  margin-left: 20%;

}

.error_count{

  background-color: #eee;
  border-radius: 5px;
  width: 15vw;
  font-size: 1em;
  font-family: sans-serif;
  border: none;
  box-shadow: 0 0 5px #222;
  padding: 5px;
}




td{

  border: 1px solid #333;
  background-color: #fff;
  padding: 5px;
  margin: 0;
  border-radius: 3px;
  box-shadow: 0 0 10px #000;
}

table{

  margin: auto;
  margin-top: 100px;
  background-color: #333;
  border-radius: 3px;
}

.E_Usuario{

  color: #f22;
  font-weight: 600;
  font-family: sans-serif;
}
.rol{

  color: #22e;
}

.adminsection{

  color: #333;
  font-family: sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  width: 23vw;
  padding: 10px;
  border-radius: 10px;

  position: absolute;
  top: 16vh;
  left: 38vw;
}
select{

  border: none;
  border-bottom: 1px solid #000 ;
  font-family: sans-serif;
  margin-right: 5px;
}