<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <title>Formulario</title>
</head>
<body>

    <header>
    <h1 id="Titulo">Mis Vacaciones</h1>
    <ul>
        <a href="MisVacaciones.html"><li>Inicio</li></a>
        <a href="Formulario.html"><li style="text-decoration: underline;">Formulario</li></a>
        <a href="#sectionimg"><li>Servicios</li></a>
        <li>Contacto</li>
    </ul>
</header>
    

    <form action="/enviar" method="post">

        <h1>Formulario</h1>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="Genero">Genero:</label>
        <div id="Genero">
            <label><input type="radio" name="genero" value="H"> H</label>
            <label><input type="radio" name="genero" value="M"> M</label>
            <label><input type="radio" name="genero" value="M"> Otro</label>
        
        </div>
        
        <label for="email">Correo:</label>
        <input type="email" id="email" name="email" required>


        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>


        <button type="submit">Enviar</button>
    </form>


</body>
</html>